<div class="row justify-content-center">
    <div class="col-lg-8 col-md-12 taskbar">
        <div class="logo">
            <img src="./img/taskbar-logo.png" />
        </div>
        <div class="task-item running <%= active === 'running' ? 'active' : ''%> hidden-sm-down">
            <% if (active !== 'running'){ %>
            <a href="https://graphics.reuters.com/USA-ELECTION/010091471JC/index.html" target="_blank">
            <% } %>
            <%= "Who’s running?" %>
            <% if (active !== 'running'){ %>
            </a>
            <% } %>
        </div>
        <div class="task-separator <%= active === 'running' | active === 'calendar' ? 'd-none' : 'hidden-sm-down'%>"></div>
        <div class="task-item hidden-sm-down calendar <%= active === 'calendar' ? 'active' : ''%>">
            <% if (active !== 'calendar'){ %>
            <a href="https://graphics.reuters.com/USA-ELECTION-CALENDAR/0100B31F26V/index.html" target="_blank">
            <% } %>
            <%= "Election calendar"  %>
            <% if (active !== 'calendar'){ %>
            </a>
            <% } %>
        </div>
        <div class="task-separator <%= active === 'calendar' | active === 'issues' ? 'd-none' : 'hidden-sm-down'%>"></div>
        <div class="task-item issues <%= active === 'issues' ? 'active' : ''%> hidden-sm-down">
            <% if (active !== 'issues'){ %>
            <a href="https://graphics.reuters.com/USA-ELECTION-POLICIES/0100B5C33D8/index.html" target="_blank">
            <% } %>
            <%= "Key issues"  %>
            <% if (active !== 'issues'){ %>
            </a>
            <% } %>
        </div>
        <div class="task-separator <%= active === 'results' | active === 'issues' ? 'd-none' : 'hidden-sm-down'%>"></div>
        <div class="task-item <%= active === 'results' ? 'active' : ''%> results hidden-sm-down">
            <% if (active !== 'results'){ %>
            <a href="https://graphics.reuters.com/USA-ELECTION-DELEGATE-TRACKER/0100B5DR3JT/index.html" target="_blank">
             <% } %>
            <%= "Results"  %>
            <% if (active !== 'results'){ %>
            </a>
            <% } %>
        </div>
    </div>
</div>