<% const content = localeData('content.json') %>
<article class='container-fluid'>

  <section class="headline">
    <p class="section-title color-red"><%= content.Kicker %></p>
    <h2 class=""><%= content.Hed %></h2>
    <p><%= content.Dek %></p>
    <%- include('templates/dateline'); %>
  </section>

  <% for (const block of content.blocks){ %>

    <!-- Text blocks -->
    <% if (block.Type === 'text'){ %>
      <section class='body-text'>
        <%- parseMarkdown(block.Text) %>
      </section>
    <% } %>

    <!-- Photo blocks -->
    <% if (block.Type === 'photo'){ %>
      <%- include('templates/photo.ejs', { photo: block }); %>
    <% } %>

    <!-- Graphic block -->
    <% if (block.Type === 'graphic' && block.ID === 'chart-1'){ %>
      <%- include('templates/graphic.ejs', { graphic: block }); %>
    <% } %>
    
  <% } %>

  <section class='end-notes'>
    <%- parseMarkdown(content.EndNotes) %>
  </section>

</article>
