<article class='container-fluid'>

  <%- include('templates/heroTitle'); %>

  <%- include('templates/dateline'); %>

  <section class='body-text'>
    <%- localeMarkdown('article/text.md').intro %>
  </section>

  <section class='graphic'>
    <%- localeMarkdown('article/text.md').graphic %>
    <%- include('templates/graphic.ejs'); %>
  </section>

  <section class='body-text'>
    <%- localeMarkdown('article/text.md').middle %>
  </section>

  <%- include('templates/photo.ejs'); %>

  <section class='body-text'>
    <div id="app"></div>
  </section>

  <section class='body-text'>
    <%- localeMarkdown('article/text.md').end %>
  </section>

  <section class='clarifications'>
    <%- localeMarkdown('article/text.md').corrections %>
  </section>

  <section class='end-notes'>
    <%- localeMarkdown('article/text.md').notes %>
  </section>

</article>
