<article class='container-fluid'>

  <%- include('templates/heroTitle'); %>

  <aside class='article-metadata'>
    <%- include('templates/byline'); %>
    <%- include('templates/dateline'); %>
  </aside>

  <section class='body-text'>
    <%- localeMarkdown('article/text.md').intro %>


    <!-- An example of requiring and using local data -->
    <% const data = require('./templates/listdata.json'); %>
    <%- include('templates/list.html', { data }); %>
  </section>


  <%- include('templates/chart.ejs'); %>

  <section class='body-text'>
    <%- localeMarkdown('article/text.md').middle %>
  </section>

  <%- include('templates/photo.ejs'); %>

  <section class='body-text'>
    <div id="app"></div>
  </section>

  <section class='body-text'>
    <%- localeMarkdown('article/text.md').end %>
  </section>

  <section class='clarifications'>
    <%- localeMarkdown('article/text.md').corrections %>
  </section>

  <section class='end-notes'>
    <%- localeMarkdown('article/text.md').notes %>
  </section>

</article>
