<article class='container-fluid'>

  <%- include('templates/heroTitle'); %>

  <aside class='article-metadata'>
    <%- include('templates/byline'); %>
    <%- include('templates/dateline'); %>
  </aside>

  <section class='body-text'>
    <%- localeMarkdown('article/intro.md') %>

    <% const data = require('./templates/listdata.json'); %>
    <%- include('templates/list.html', { data }); %>

  </section>


  <%- include('templates/chart.ejs'); %>

  <section class='body-text'>
    <%- localeMarkdown('article/middle.md') %>
  </section>

  <%- include('templates/photo.ejs'); %>

  <section class='body-text'>
    <div id="app"></div>
  </section>

  <section class='body-text'>
    <%- localeMarkdown('article/end.md') %>
  </section>

  <section class='clarifications'>
    <%- localeMarkdown('aside/corrections.md') %>
  </section>

  <section class='end-notes'>
    <%- localeMarkdown('aside/notes.md') %>
  </section>

</article>
