
<section class='graphic'>
  <h3><%= graphic.Title %></h3>
  <%- parseMarkdown(graphic.Dek) %>
  <figure>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 500" width="100%" style="margin:0 auto; display:block;">
      <title><%= graphic.Title %></title>
      <rect width="800" height="500" style="fill:#ddd"/>
      <rect x="149.46" y="62" width="100" height="363" style="fill:#999"/>
      <rect x="283.15" y="149" width="100" height="276" style="fill:#999"/>
      <rect x="416.85" y="237" width="100" height="188.44" style="fill:#999"/>
      <rect x="550.54" y="331" width="100" height="94.66" style="fill:#999"/>
    </svg>
  </figure>
  <aside>
    <p>Note: <%= graphic.Note %></p>
    <p>Source: <%= graphic.Source %></p>
  </aside>
</section>